.result {
display: none;
}
body {
background-color: #004d00;
}
.information{
  text-align: center;
  border: 3px solid #ff9900;
padding: 3px;
color: #00ec00;
background-color: #003300;
margin-left: 150px;
margin-right: 150px;
}
.form_logic{
  border: 3px solid #ff9900;
padding: 3px;
color: #00ec00;
background-color: #003300;
margin-left: 50px;
margin-right: 50px;
margin-top: 25px;
margin-bottom: 25px;
}
.result{
  border: 3px solid #ff9900;
  color: #00ec00;
  background-color: #003300;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#submission {
  margin-top: 5px;
text-align: center;
}
